.title {
  font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,sans-serif!important;
  color: #08c;
}

.control-box {
  background: url(../../public/draftBg.jpg) 43% 18%;
  padding: 15px;
}

.RichEditor-root {
  background: rgba(250, 250, 250, .7);
  font-family: 'Source Serif Pro', serif;
  font-size: 14px;
  padding: 15px;
  border-radius: 0 0 5px 5px;
}

.RichEditor-editor {
  color: #000;
  cursor: text;
  font-size: 16px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #000;
  font-family: 'Source Sans Pro';
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Source Code Pro';
  font-size: 16px;
}

.RichEditor-controls {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #08c;
  cursor: pointer;
  display: inline-block;
  margin-right: 16px;
  padding: 2px 2px;
}

.RichEditor-activeButton {
  color: #ff6666;
  border-radius: 3px;
}